In [1]:
from bs4 import BeautifulSoup
with open(r"C:\Users\Asus\OneDrive\Dataset\web_scraping_example.html", 'r') as file1:
    soup = BeautifulSoup(file1, 'html.parser')

In [2]:
soup.contents

[<html>
 <body>
 <div class="oraganization">
 <ul id="HR">
 <li class="HRmanager">
 <div class="name">Jack</div>
 <div class="ID">101</div>
 </li>
 <li class="HRmanager">
 <div class="name">Daren</div>
 <div class="ID">65</div>
 </li>
 </ul>
 <ul id="IT">
 <li class="ITmanager">
 <div class="name">Morris</div>
 <div class="ID">39</div>
 </li>
 <li class="ITmanager">
 <div class="name">Jane</div>
 <div class="ID">11</div>
 </li>
 </ul>
 <ul id="Finance">
 <li class="accountmanager">
 <div class="name">Tom</div>
 <div class="ID">22</div>
 </li>
 <li class="accountmanager">
 <div class="name">Kelly</div>
 <div class="ID">95</div>
 </li>
 </ul>
 </div>
 </body>
 </html>]

In [3]:
tag = soup.find(class_='HRmanager')

In [12]:
tag

<li class="HRmanager">
<div class="f_name">Jack</div>
<div class="ID">101</div>
</li>

In [13]:
t1 = tag.find('div')

In [9]:
t1['class'] = 'f_name'

In [10]:
t1

In [11]:
soup

<html>
<body>
<div class="oraganization">
<ul id="HR">
<li class="HRmanager">
<div class="f_name">Jack</div>
<div class="ID">101</div>
</li>
<li class="HRmanager">
<div class="name">Daren</div>
<div class="ID">65</div>
</li>
</ul>
<ul id="IT">
<li class="ITmanager">
<div class="name">Morris</div>
<div class="ID">39</div>
</li>
<li class="ITmanager">
<div class="name">Jane</div>
<div class="ID">11</div>
</li>
</ul>
<ul id="Finance">
<li class="accountmanager">
<div class="name">Tom</div>
<div class="ID">22</div>
</li>
<li class="accountmanager">
<div class="name">Kelly</div>
<div class="ID">95</div>
</li>
</ul>
</div>
</body>
</html>

In [16]:
tag1 = soup.new_tag('rank')
tag1.string = 'Manager2'
soup.body.insert_after(tag1)

In [17]:
soup

<html>
<body>
<div class="oraganization">
<ul id="HR">
<li class="HRmanager">
<div class="f_name">Jack</div><rank>Manager2</rank>
<div class="ID">101</div>
</li>
<li class="HRmanager">
<div class="name">Daren</div>
<div class="ID">65</div>
</li>
</ul>
<ul id="IT">
<li class="ITmanager">
<div class="name">Morris</div>
<div class="ID">39</div>
</li>
<li class="ITmanager">
<div class="name">Jane</div>
<div class="ID">11</div>
</li>
</ul>
<ul id="Finance">
<li class="accountmanager">
<div class="name">Tom</div>
<div class="ID">22</div>
</li>
<li class="accountmanager">
<div class="name">Kelly</div>
<div class="ID">95</div>
</li>
</ul>
</div>
</body><rank>Manager2</rank>
</html>

In [18]:
tag1.clear()

In [19]:
soup

<html>
<body>
<div class="oraganization">
<ul id="HR">
<li class="HRmanager">
<div class="f_name">Jack</div><rank>Manager2</rank>
<div class="ID">101</div>
</li>
<li class="HRmanager">
<div class="name">Daren</div>
<div class="ID">65</div>
</li>
</ul>
<ul id="IT">
<li class="ITmanager">
<div class="name">Morris</div>
<div class="ID">39</div>
</li>
<li class="ITmanager">
<div class="name">Jane</div>
<div class="ID">11</div>
</li>
</ul>
<ul id="Finance">
<li class="accountmanager">
<div class="name">Tom</div>
<div class="ID">22</div>
</li>
<li class="accountmanager">
<div class="name">Kelly</div>
<div class="ID">95</div>
</li>
</ul>
</div>
</body><rank></rank>
</html>

In [21]:
t1.string.extract()

'Jack'

In [27]:
t1.replace_with('Cena')

In [28]:
soup

<html>
<body>
<div class="oraganization">
<ul id="HR">
<li class="HRmanager">
Cena<rank>Manager2</rank>
<div class="ID">101</div>
</li>
<li class="HRmanager">
<div class="name">Daren</div>
<div class="ID">65</div>
</li>
</ul>
<ul id="IT">
<li class="ITmanager">
<div class="name">Morris</div>
<div class="ID">39</div>
</li>
<li class="ITmanager">
<div class="name">Jane</div>
<div class="ID">11</div>
</li>
</ul>
<ul id="Finance">
<li class="accountmanager">
<div class="name">Tom</div>
<div class="ID">22</div>
</li>
<li class="accountmanager">
<div class="name">Kelly</div>
<div class="ID">95</div>
</li>
</ul>
</div>
</body><rank></rank>
</html>